<div ng-controller="customerController">
    <h2>Customers</h2>
    <ht/>
    <input type="button" value="Create new" class="btn btn-success mb-3" ng-click="AddCustomer()" />
    <table class="table">
        <tr>
            <th>Fistname</th>
            <th>Lastname</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone</th>
            <th>CustomerCode</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr data-ng-repeat="Cus in customers">
            <td>{{ Cus.Firstname }}</td>
            <td>{{ Cus.Lastname }}</td>
            <td>{{ Cus.Address }}</td>
            <td>{{ Cus.Email }}</td>
            <td>{{ Cus.Phone }}</td>
            <td>{{ Cus.CustomerCode }}</td>
            <td>
                <input type="button" value="Edit" class=" btn btn-warning" ng-click="EditCustomer(Cus)" />
            </td>
            <td>
                <input type="button" value="Details" class=" btn btn-info" ng-click="GetCustomer(Cus)" />
            </td>
            <td>
                <input type="button" value="Delete" class=" btn btn-danger" ng-click="DeleteCustomer(Cus)" />
            </td>
        </tr>
    </table>  
</div>