<h2 ng-hide="{{ngDialogData.edited}}">Create</h2>
<h2 ng-show="{{ngDialogData.edited}}">Edit</h2>
<div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-4">Firstname:</label>
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="ngDialogData.customer.Firstname" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Lastname:</label>
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="ngDialogData.customer.Lastname" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Address:</label>
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="ngDialogData.customer.Address" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Email:</label>
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="ngDialogData.customer.Email" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Phone:</label>
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="ngDialogData.customer.Phone" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">CustomerCode:</label>
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="ngDialogData.customer.CustomerCode" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Create" ng-hide="ngDialogData.edited" class="btn btn-success" ng-click="closeThisDialog({value: true, customer: ngDialogData.customer})" />
                <input type="button" value="Update" ng-show="ngDialogData.edited" class="btn btn-warning" ng-click="closeThisDialog({value: true, customer: ngDialogData.customer})" />
            </div>
        </div>
    </div>
</div>