<div ng-controller="supplierController">
    <h2 class="container">Supplier</h2>
    <hr />
        
    <input type="button" value="Create" class="btn btn-success" ng-click="AddSupplier()" />

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>SupplierCode</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr data-ng-repeat="sup in suppliers">
            <td>{{ sup.Name }}</td>
            <td>{{ sup.Description }}</td>
            <td>{{ sup.SupplierCode }}</td>
            <td>
                <input type="button" value="Edit" class=" btn btn-warning" ng-click="EditSupplier(sup)" />
            </td>
            <td>
                <input type="button" value="Details" class=" btn btn-info" ng-click="GetSupplier(sup)" />
            </td>
            <td>
                <input type="button" value="Delete" class=" btn btn-danger" ng-click="DeleteSupplier(sup)" />
            </td>
        </tr>
    </table>
</div>