<div ng-controller="productController">
    <h2 class="container">Product</h2>
    <hr />
    <input type="button" value="Create" class="btn btn-success" ng-click="AddProduct()" />
    <!--<div class="form-horizontal">
        
        <div class="form-group">
            <label class="control-label col-md-2">Name:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="product.Name" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Description:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="product.Description" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Image:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="product.Image" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">ProductCode:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="product.ProductCode" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Supplier:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="product.Supplier" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                
            </div>
        </div>
    </div>-->

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>ProductCode</th>
            <th>Supplier</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr data-ng-repeat="pro in products">
            <td>{{ pro.Name }}</td>
            <td>{{ pro.Description }}</td>
            <td>{{ pro.Image }}</td>
            <td>{{ pro.ProductCode }}</td>
            <td>{{ pro.Supplier.Name }}</td>
            <td>
                <input type="button" value="Edit" class=" btn btn-warning" ng-click="EditProduct(pro)" />
            </td>
            <td>
                <input type="button" value="Details" class=" btn btn-info" ng-click="GetProduct(pro)" />
            </td>
            <td>
                <input type="button" value="Delete" class=" btn btn-danger" ng-click="DeleteProduct(pro)" />
            </td>
        </tr>
    </table>
</div>