@model System.Data.DataTable
@{
    ViewBag.Title = "Customers By Lastname";
}

<h2>Customers By Lastname report</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Lastname
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Code
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr>
                @foreach (var cell in row.ItemArray)
                {
                    <td>
                        @cell.ToString()
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Back to Reports page", "Index")
</div>